@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #2f2f2f;
}

.wraper {
  user-select: none;
 background: #2f2f2f;
box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.25);
  display: flex;
  margin: 0 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: #ffffff;

}

.forinput {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 17%;
  /* border: 1px solid rgb(28, 38, 46); */
  margin: 0 auto;
  /* gap:0.5rem; */
  font-size: max(1vw, 1.5rem);
  position: relative;
  
}
.forinput:before{
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  width:35%;
  border: 1px solid #FFFFFF;
  filter: blur(2px);
}
.forinput:after{
  content: "";
  position: absolute;
  bottom:0;
  right:0;
  width:35%;
  border: 1px solid #FFFFFF;
  filter: blur(2px);
}
.forinput_ticket {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.forinput_ticket p {
  font-size: max(1.3vw, 1rem);
}
.messagesfield {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: absolute;
  bottom: -1rem;
}
.messagesfield p {
  border: 1px solid grey;
  font-size: max(1.2vw, 1rem);
  padding: 0.2rem;
  border-radius: 10px;
  color: white;
  background-color: rgba(163, 157, 163, 0.5);
}
.errorsfield {
  position: absolute;
  top: 0rem;
  left: 34%;
  width: 100%;
}
.errorsfield p {
  color: red;
  position: absolute;
  font-size: max(1.5vw, 1rem);
}
.generalinput {
  font-family: "Roboto", sans-serif;
  width: max(15vw, 10rem);
  font-size: max(1vw, 1rem);
  height: max(2vh, 2rem);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  color: white;
  padding: 0 0.5rem 0 0.5rem;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
}
.btn-add {
  height: max(2vh, 2rem);
  padding: 0 1.2rem 0 1.2rem;
  font-size: max(1vw, 1rem);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  color: white;
  /* box-shadow:2px 3px rgb(46, 44, 44); */
}
.btn-add:hover {
  box-shadow: 3px 4px rgb(32, 31, 31);
}
.filter {
  font-family: "Roboto", sans-serif;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  width: 100%;
  height: 17%;
  top: 2rem;
}
.controlpages {
  display: flex;
  /* height: 1em; */
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.btn {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  height:  max(2.5vw, 2rem);
  width: fit-content;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn img{
  padding-top: 0.2rem;
}
.filter_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter:before{
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  width:35%;
  border: 1px solid #FFFFFF;
  filter: blur(2px);
}
.filter:after{
  content: "";
  position: absolute;
  bottom:0;
  right:0;
  width:35%;
  border: 1px solid #FFFFFF;
  filter: blur(2px);
}
.filterinput {
  font-family: "Roboto", sans-serif;
  width: max(5vw, 5rem);
  font-size: max(1vw, 1rem);
  height: max(2vh, 2rem);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  color: white;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 15px;
}
.forwallets {
  position: relative;
  width: 100vw;
  height: 50%;
  display: flex;
  flex-wrap: no-wrap;
  /* padding: 1em 1em 1em 1em; */
  margin-top: 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left:0.5rem;

  gap: 1.5em;
}
.walletblock {
  background: linear-gradient(
    155.48deg,
    rgba(255, 255, 255, 0.3) 2.06%,
    rgba(196, 196, 196, 0.1) 100.89%
  );
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 0.1em 0.1em;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #12e000;
  width: 12.5vw;
  
  height: 25vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  overflow: hidden;

}
@media screen and (orientation:portrait) {
  .forwallets{
    justify-content: start;
    height:35%;
    overflow-x: auto;
  }
  .walletblock {
     width:27vw;
    
  }
  .walletblock_title {
    font-size: max(1.1vw, 0.9rem);

  }
  .walletblock_name {
    font-size: max(0.8vw, 0.8rem);
  }
  .walletblock_price {
    color: #12e000;
    font-size: max(1.3vw, 1rem);
    filter: blur(1px);
  }
   
  }
.walletblock:hover .walletblock_delete{
  transform:translateY(200%)
} 


.walletblock_delete {
  position:absolute;
  top:-2.5rem;
  right: 0;
  width:2rem;
  height:2rem;
  transition:0.3s;
}
.walletblock_delete::before {
  content: "";
  position: absolute;
  width: 1px;
  height:15px;
  border: 1px solid  #12e000;
  top: 0vh;
  right: 1vw;
  transform:skewX(45deg);
  transition: 0.5s;
}
.walletblock_delete::after {
  content: "";
  position: absolute;
  width: 1px;
  height:15px;
  border: 1px solid  #12e000;
  top: 0vh;
  right: 1vw;
  transform:skewX(-45deg);
  transition: 0.5s;
}

.walletblock_title {
  font-size: max(1.4vw, 1.2rem);
}
.walletblock_name {
  font-size: max(1vw, 1rem);
}
.walletblock_price {
  color: #12e000;
  font-size: max(1.5vw, 1.3rem);
  filter: blur(1px);
}
.outputdisplay {
  width: 100%;
  height: 29%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items:  end; */
  justify-content: end;
  /* padding-bottom: 1rem; */
}

.graph {
  width: 100%;
  height:90%;
  bottom:0rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  position: relative;
  gap: 0.3em;
  /* padding-top: 0.5em; */
  /* padding-left: 0.5em; */
  overflow: hidden;
}

.active {
  transform:scale(1.03)
}
.bar {
  min-width: 2rem;
  height: 50%;
  background-color: rgb(110, 108, 112);
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px 10px 0px 0px;
}

.down {
  background: rgba(224, 0, 0, 0.5);
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px 10px 0px 0px;
}
.up {
  background: rgba(18, 224, 0, 0.5);
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 10px 10px 0px 0px;
}
.disabled {
  color: #E00000;
  filter: blur(1px);
  opacity: 0.6;
}
